<footer>
    <div class="footer-info border-top">
        <div class="social-media-links">
            <a class="links" href="/"><i class="fa-brands fa-instagram"></i></a>
            <a class="links" href="/"><i class="fa-solid fa-envelope"></i></a>
            <a class="links" href="/"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
        <div class="h6">&copy; Wander-lust private limited</div>
        <div class="privacy-conditions">
            <a href="/privacy"  >privacy policy</a>
            <a href="/conditions">Terms and conditions</a>
        </div>
    </div>
</footer>