<% layout("layout/boilerplate")%>
    <h2>Your bnb</h2>
    <form action="/listing/new" method="post">
    <h4><input name="title" type="text" placeholder="Enter a catchy title" required><br><br>
        <textarea name="description" placeholder="Description"></textarea><br><br>
        <input type="number" name="price" placeholder="price" required><br><br>
        <input type="url" name="image url" placeholder="image url"><br><br>
        <input type="text" name ="location" placeholder="location"><br><br>
        <input type="country" name="country" placeholder="Country "><br><br>
        <button type="submit">Submit</button>
</form>
